.hero {
  @include mg-section(100px, 150px, 600);

  .button {

    @include bp(600) {
      border-color: $grey;
    }
  }

  &__container {
    display: grid;

    @include bp(600) {
      grid-template-columns: [left] minmax(320px, auto) [right] minmax(320px, 611px);
      align-items: center;
    }
  }

  &__wrapper {

    &--text {

      @include bp(600) {
        @include break-out--before($red, x2);

        max-width: 340px;
        height: 100%;
        grid-column: left;
        padding-top: 2em;
        padding-bottom: 4em;

        color: #fff;
      }

    }

    &--img {
      display: grid;

      @include bp-max(600) {
        @include break-out--before($red);

        order: -1;
        margin-bottom: 1em;

        &::before {
          top: unset;
          bottom: 0;

          height: 60%;
        }
      }

      @include bp(600) {
        z-index: 1;

        grid-row: 1 / 3;
        grid-column: right;
        align-self: end;
        margin-top: -3em; // немного заедем на хедер
      }
    }
  }

  &__heading {
    @include mg-bottom(1em);

    @include bp(600) {
      max-width: 450px;
      align-self: end;
      @include mg-bottom(2em);
    }
  }

  &__img {
    // max-width: 611px;
    // width: 100%;

    object-fit: contain;
    object-position: bottom;
  }
}
