extends ../layouts/layout

block meta
  - var title = "Lola Artland"
  - var description = ""
  - var ogImage = ""
  - var pageModifier = "--index"
  - var currentUrl = "/"

block content
  +b.SECTION.hero
    +e.container.container
      +e.HEADER.heading
        +e.H1.title Графічний дизайнер з Івано-Франківська
      +e.wrapper--text
        +e.P.text Привіт! Мене звати Лола.
        +e.P.text Я спеціалізуюсь на логотипах та друкованих матеріалах. Займаюсь розробкою фірмового стилю чи дизайну для вебу.
        +e.P.text Маю досвід в поліграфії та прийму безпосередню участь на всіх етапах: від розробки макету до друку.
        +e.P.text Напишить мені особисто:

      +e.wrapper--img
        +e.IMG.img(
          srcset='img/hero/img/hero@0.5.png 320w, img/hero/img/hero.png 600w',
          src='img/hero/img/hero.png',
          alt='Lola')
